* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: linear-gradient(to bottom, #f57c00, #fbc02d);
    font-family: 'Segoe UI', sans-serif;
}

main {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

h1 {
    text-align: center;
    text-shadow: 2.25px 2.25px 2.25px rgb(0, 0, 0);
    color: #ca3d01;
    flex: 1;
}

.main {                                                /*********     navigation bar    ********/
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
    background-color: #8e3c10;
    padding: 1.25rem 2rem;
    font-size:18px;
    mask-image:
    linear-gradient(to bottom, black 90%, transparent),
    linear-gradient(to top,black 90%, transparent);
    mask-composite: intersect;
    text-shadow: 2.25px 2.25px 2.25px rgb(0, 0, 0);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fffaf0;
}

.links{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.links a {
    text-decoration: none;
    color: #fffaf0;
    font-weight: 600;
    transition: color 0.3s ease;
}

.links a:hover {
    color: #ffad5a;
}

.banner-order {                                             /*********  DELICIOUS PIZZA  *********/
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 20px;
	text-shadow: 2.25px 2.25px 2.25px rgb(44, 37, 37); /* DROP SHADOW EFFECT */
}

.banner {                                                       /*banner index.html section*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, #f57c00, #fbc02d);
    padding: 4rem 2rem;
}

/* Image masking info from google https://www.google.com/search?q=css+fade+multiple+image+edges+with+linear+gradient&sca_esv=b8281854a4bc4e84&sxsrf=AE3TifMxLzj0ZIql_K0rroMI2AOSnZa0Cw%3A1761863096656&ei=uOUDaZjqJ-i40PEPu6ag8QQ&oq=css+fade+multiple+image+edges+with+lin&gs_lp=Egxnd3Mtd2l6LXNlcnAiJmNzcyBmYWRlIG11bHRpcGxlIGltYWdlIGVkZ2VzIHdpdGggbGluKgIIADIFECEYoAEyBRAhGKABMgUQIRigATIFECEYoAEyBRAhGKABSJTsAVC5CljA4AFwBHgBkAEAmAGUAaABtDqqAQUzMC40MrgBA8gBAPgBAZgCN6ACqCzCAgoQABhHGNYEGLADwgIEECMYJ8ICCBAAGIAEGKIEwgIFEAAY7wXCAgcQIxiwAhgnwgIKECMYgAQYigUYJ8ICBhAAGBYYHsICCxAAGIAEGIoFGJECwgIFEAAYgATCAgoQABiABBgUGIcCwgIIEC4YgAQY5QTCAgoQABiABBiKBRhDwgIEECEYFcICBRAhGJ8FwgIHECEYChigAZgDAIgGAZAGCJIHBTE1LjQwoAeU6AOyBwUxMS40MLgHoCzCBwY1LjQ5LjHIB1Q&sclient=gws-wiz-serp */

.logo-image {
    width: 100%;
    height: auto;
     mask-image: 
    linear-gradient(to right, black 85%, transparent), 
    linear-gradient(to left, black 85%, transparent),  
    linear-gradient(to bottom, black 85%, transparent),
    linear-gradient(to top, black 85%, transparent);   
    mask-composite: intersect; 
}

.banner-text {                                               /*right side*/
    flex: 1;
    padding-left: 2rem;
}

.banner-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.banner-text p {
    font-size: 1.25rem;
    color: #000000;
    margin-bottom: 2rem;
}

.banner-text {
    padding: 32px 32px;
    text-align: left;
    position: relative;
}

.banner-text a {                                        /* ********order now button on HOMEPAGE***** */
    background-color: #965811;
    color: #fffaf0;
    padding: 1rem 1.5rem;
    font-weight: bold;
    border: 2px solid #000000;
    transition: background-color 0.3s ease;
}

.order-button:hover {
    background-color: #bf6e1a;
    color: #fffaf0;
    text-decoration: none;
}

.mainOrder {
    display:flex;
    justify-content: center;
    align-items: center;
}

/* information on how to "split screen" a section learned from google https://www.google.com/search?q=how+to+split+a+part+of+a+website+into+two+sections&oq=how+to+split+a+part+of+a+website+into+two+sections&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIHCAEQIRigAdIBCTEyMjc5ajBqN6gCALACAA&sourceid=chrome&ie=UTF-8 */

.split-section{
    font-size: 115%;
    display: flex;
    width: 100%;
    margin-top: 1rem;
}

.split-section h2 {
    text-shadow: 2px 2px 2px rgb(100, 83, 83);                /* DROP SHADOW EFFECT */
    margin-bottom: 0.5rem;
}

.split-section fieldset {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 2px solid #000000;
    border-radius: 4px; 
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}

.left-column {
    width: 50%;
    text-align: center;
}

.left-column img{
    height: auto;
    width: 65%;
    display: block;
    margin-top: 0.5rem;
    margin-left: 0.5rem;  
    border: 2px solid #000000;
}

p.marg {
    display: flex;
    justify-content: right;
    margin-right: 0.5rem;
}

.right-column {
    width: 50%;
    text-align: center;
}

.right-column fieldset.toppings {
    padding: 0.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.split-section ul {
    list-style: none;
    padding: 0;
    justify-content: center;    
}  

footer {                                                       /* footer section */
    text-align: center;
    padding: 1rem;
    margin-top: 0.5rem;
    background-color: #8e3c10;
    color: #fffaf0;
    position: relative;
    bottom: 0;
    width: 100%;
}

fieldset.info {                                           /* fieldset for toppings and size */
    width: auto;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 2px;  
    border: 2px solid #000000;
}

p button:hover {
    background-color: #bf6e1a;
    color: #fffaf0;
    text-decoration: none;
}

fieldset.checkSub {
    margin-top: 1rem;
    border: none;
    justify-content: center;
    align-items: center;
    display: flex;
}
                                                                  /* submit button */
 .submitfinal button {                                         
    background-color: #965811;
    color: #fffaf0;
    padding: 1rem 1.5rem;
    font-weight: bold;
    border: 2px solid #000000;
    max-width: 400px;
    transition: background-color 0.3s ease;
}

.reset-button{
    background-color: #965811;
    color: #fffaf0;
    padding: 1rem 1.5rem;
    font-weight: bold;
    border: 2px solid #000000;
    max-width: 400px;
    transition: background-color 0.3s ease;

}

.submitfinal:hover {
    background-color: #bf6e1a;
    color: #fffaf0;
    text-decoration: none;
}

.reset-button:hover {
    background-color: #bf6e1a;
    color: #fffaf0;
    text-decoration: none;
}

section.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
}

section.pizzaCrust {
    border: 2px solid #000000;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;

}