html{
    display: flex;
    align-items: center, top;
    justify-content: center;
    background-color: #36454f;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {                        /* Header and NAV found here */
    width: 100%;
    display: flex;
    background-color: #e1c16e;
    padding-left: 5%;
    gap: 13em;
    white-space: nowrap;
}

nav {
    padding-left: 125px;
}

.navLink {
    list-style: none;
    display: flex;
    gap: 2em;
    padding-top: 0.8em;
}

.navLink > li > a:link {
    text-decoration: none;
    background-color: #f3cb7b;
    border: 2px solid black;
    font-weight: 600;
    transition: color 0.3s ease;
    font-size: 20px;
}

header nav a:visited {
	color: black;
}

header nav a:focus {
	background: orange;
}

header nav a:hover {
	background: #ffffff;
}

header nav a.current,
header nav > ul > li > a:has(+ ul a.current) {
	background: #ca4b3d;
	font-weight: bold;
}

h2 {
    text-align: center;
    
}

.saleSign::after {               /* Sale Sign including additional text information */
    content: "";
    position: absolute;
    background: url(../images/grunge-distressed-AI.png) ; /* asked AI to create overlay for me */
    opacity: 0.4;
    inset: 0;
    mix-blend-mode: screen;
}

.saleSign{
    border: 0.4em solid black;
    border-radius: 4%;
    margin: auto;
    position: relative;
    background:linear-gradient(165deg, #ca4b3d 45%, #e4c896 55%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50em;
    height: 50em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow: hidden;
}

.lamp {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 17%;
    left: 12%;
    filter: drop-shadow(5px 8px 10px) /* how to add drop shadow to img https://www.google.com/search?q=css+add+drop+shadow+to+image&sca_esv=8dfe9edb86176f37&sxsrf=AE3TifNPwQfJAdEfio3-_1Q85cjm6rzKAw%3A1764787860861&ei=lIYwaZmvNMrmwN4PgquBiQQ&ved=0ahUKEwiZybOMi6KRAxVKM9AFHYJVIEEQ4dUDCBE&uact=5&oq=css+add+drop+shadow+to+image&gs_lp=Egxnd3Mtd2l6LXNlcnAiHGNzcyBhZGQgZHJvcCBzaGFkb3cgdG8gaW1hZ2UyBBAAGB4yCxAAGIAEGIoFGIYDMggQABiJBRiiBDIFEAAY7wUyBRAAGO8FSOwPUIAKWOcNcAJ4AZABAJgBkgGgAekDqgEDNC4xuAEDyAEA-AEBmAIGoAL2AsICChAAGEcY1gQYsAPCAgcQIxiwAhgnwgIGEAAYBxgewgIIEAAYCBgeGA2YAwCIBgGQBgiSBwM1LjGgB78gsgcDMy4xuAfqAsIHBTAuMi40yAcW&sclient=gws-wiz-serp */
}

.sale, .discount, .percent {
    position: absolute;
    line-height: 1;
    text-align: center;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.promoSign {
    perspective: 200px;
}

.sale{
    left: 9%;
    top: 8px;
    letter-spacing: 20px;
    font-size: 18em;
    font-weight: 250;
    color: #f8d3b6;
    text-shadow: -10px 20px 5px #4f2121;
    transform: rotateX(5deg) rotateY(10deg) scaleX(1.5) skewX(-8deg);
    transform-origin: left bottom;
}

.discount {
    top: 30%;
    left: 40.5%;
    letter-spacing: 8px;
    font-size: 2em;
    color: #f8d3b6;
    text-shadow: -6px 5px 3px #4f2121;
    transform: rotateX(12deg) rotateY(-41deg) scaleX(1.5) skewX(-15deg);
    transform-origin: left bottom;
}

.percent > ul {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
}

.percent > ul > li {
    position: absolute;
    font-size: 5em;
    font-weight: bold;
    font-weight: 400;
    transform-origin: center;
    text-shadow: 2px 2px 2px #000000;
}

.per20 {
    top: 3.7em;
    left: 0.6em;
    color: #e5e3e3;
}

.per30 {
    top: 5.2em;
    left: 0.6em;
    color: #e5e3e3;
}

.per40 {
    top: 6.8em;
    left: 0.8em;
    color: #393636;
}

.per50 {
    top: 8.4em;
    left: 1.3em;
    color: #393636;
}