html{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #36454f;

}

header {
    display: flex;
    background-color: #e1c16e;
    padding-left: 50px;
}

nav {
    padding-left: 125px;
}

.navLink {
    list-style: none;
    display: flex;
    gap: 2em;
    padding-top: 15px;
}

.navLink > li > a:link {
    text-decoration: none;
    background-color: #f3cb7b;
    border: 2px solid black;
    font-weight: 600;
    transition: color 0.3s ease;
    font-size: 20px;
}

header nav a:visited {
	color: black;
}

header nav a:focus {
	background: orange;
}

header nav a:hover {
	background: #ffffff;
}

header nav a.current,
header nav > ul > li > a:has(+ ul a.current) {
	background: #ca4b3d;
	font-weight: bold;
}

.saleSign{
    position: relative;
    background:linear-gradient(165deg, #ca4b3d 45%, #e4c896 55%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 60vw;
    height: 70vw;
    max-width: 900px;
    max-height: 1024px;
    margin: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.lamp {
    position: absolute;
    width: 70vw;
    height: 70vw;
    max-width: 900px;
    max-height: 1024px;
    top: 110px;
    filter: drop-shadow(5px 8px 10px) /* how to add drop shadow to img https://www.google.com/search?q=css+add+drop+shadow+to+image&sca_esv=8dfe9edb86176f37&sxsrf=AE3TifNPwQfJAdEfio3-_1Q85cjm6rzKAw%3A1764787860861&ei=lIYwaZmvNMrmwN4PgquBiQQ&ved=0ahUKEwiZybOMi6KRAxVKM9AFHYJVIEEQ4dUDCBE&uact=5&oq=css+add+drop+shadow+to+image&gs_lp=Egxnd3Mtd2l6LXNlcnAiHGNzcyBhZGQgZHJvcCBzaGFkb3cgdG8gaW1hZ2UyBBAAGB4yCxAAGIAEGIoFGIYDMggQABiJBRiiBDIFEAAY7wUyBRAAGO8FSOwPUIAKWOcNcAJ4AZABAJgBkgGgAekDqgEDNC4xuAEDyAEA-AEBmAIGoAL2AsICChAAGEcY1gQYsAPCAgcQIxiwAhgnwgIGEAAYBxgewgIIEAAYCBgeGA2YAwCIBgGQBgiSBwM1LjGgB78gsgcDMy4xuAfqAsIHBTAuMi40yAcW&sclient=gws-wiz-serp */
}

.sale, .discount, .percent {
    position: absolute;
    line-height: 1;
    text-align: center;
    margin: 0;
    padding: 0;
}

.promoSign {
    perspective: 200px;
}

.sale{
    left: 12%;
    top: 8px;
    letter-spacing: 18px;
    font-size: 200px;
    color: #f8d3b6;
    text-shadow: -10px 20px 5px #4f2121;
    transform: rotateX(5deg) rotateY(10deg) scaleX(1.5) skewX(-5deg);
    transform-origin: left bottom;
}

.discount {
    top: 30%;
    left: 29.5%;
    letter-spacing: 8px;
    font-size: 30px;
    color: #f8d3b6;
    text-shadow: -6px 3px 4px #4f2121;
    transform: rotateX(10deg) rotateY(-36deg) scaleX(1.5) skewX(-10deg);
    transform-origin: left bottom;
}

.percent > ul {
    position: absolute;
    list-style: none;
    top: 170px;
    font-size: 80px;
}