html {
    background-color: #36454f;
    height: 100%;
}

body {
    display: flex;
    background-image:
    linear-gradient(to right, #b08a54 60%, transparent 95%),
    linear-gradient(to left, #b08a54 60%, transparent 95%);
    background-position: right, left;
    background-size: 50% 100%, 50.1% 100%;
    background-repeat: no-repeat;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    margin: 0;
    padding: 0;
}

header {                        /* Header and NAV found here */
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e1c16e;
    mask-image: linear-gradient(to bottom, #e1c16e 90%, transparent),
    linear-gradient(to right, #e1c16e 98%, transparent),
    linear-gradient(to left, #e1c16e 98%, transparent);
    mask-composite: intersect;
    text-shadow: 1px 1px 4px #802c23;
    white-space: nowrap;
    color: #2c1b0f;
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    letter-spacing: -2px;
    padding: 0.5em;
}

.navLink {
    list-style: none;
    display: flex;
    gap: 2em;
    margin-right: 1.5em;
}

.navLink > li > a:link {
    text-decoration: none;
    background-color: #f3cb7b;
    border: 2px solid black;
    border-radius: 10%;
    padding: 4%;
    font-weight: 600;
    transition: color 0.3s ease;
    font-size: 20px;
}

header nav a:link {
    color: black;
}

header nav a:visited {
	color: #36454f;
}

header nav a:focus {
	background: orange;
}

header nav a:hover {
	background: #ebb16e;
}

header nav a.current,
header nav > ul > li > a:has(+ ul a.current) {
	background: #ca4b3d;
	font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 2px;
    color: #2c1b0f;
    margin: 1em;
    text-shadow: 1px 1px 4px #000000;
}

.sold {
    font-size: 2.2em;
    text-decoration: underline; 
}

.saleSign::after {               /* Sale Sign including additional text information */
    content: "";
    position: absolute;
    background: url(../images/grunge-distressed-AI.png) ; /* asked AI to create overlay for me */
    opacity: 0.4;
    filter: invert(100%);
    filter: brightness(110%);
    inset: 0;
    mix-blend-mode: multiply;
}

.saleSign{
    border: 0.4em solid black;
    border-radius: 4%;
    margin: auto;
    position: relative;
    background:linear-gradient(165deg, #ca4b3d 45%, #e4c896 55%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 50em;
    height: 50em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow: hidden;
}

.hover-area {
    position: absolute;
    width: 100%;
    height: 60%;
    cursor: pointer;
    background: transparent;
    z-index: 5;
    text-align: center;
}

.topHalf {
    top: 0;
    transform: skewY(-13deg);
    transform-origin: bottom left;
}

.bottomHalf {
    bottom: -10em;
    transform: skewY(-13deg);
    transform-origin: top left;
}

.hover-area:hover {
    background: rgba(255, 42, 42, 0.2);
}

.lamp {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 16%;
    left: 12%;
    filter: drop-shadow(5px 8px 10px) /* how to add drop shadow to img https://www.google.com/search?q=css+add+drop+shadow+to+image&sca_esv=8dfe9edb86176f37&sxsrf=AE3TifNPwQfJAdEfio3-_1Q85cjm6rzKAw%3A1764787860861&ei=lIYwaZmvNMrmwN4PgquBiQQ&ved=0ahUKEwiZybOMi6KRAxVKM9AFHYJVIEEQ4dUDCBE&uact=5&oq=css+add+drop+shadow+to+image&gs_lp=Egxnd3Mtd2l6LXNlcnAiHGNzcyBhZGQgZHJvcCBzaGFkb3cgdG8gaW1hZ2UyBBAAGB4yCxAAGIAEGIoFGIYDMggQABiJBRiiBDIFEAAY7wUyBRAAGO8FSOwPUIAKWOcNcAJ4AZABAJgBkgGgAekDqgEDNC4xuAEDyAEA-AEBmAIGoAL2AsICChAAGEcY1gQYsAPCAgcQIxiwAhgnwgIGEAAYBxgewgIIEAAYCBgeGA2YAwCIBgGQBgiSBwM1LjGgB78gsgcDMy4xuAfqAsIHBTAuMi40yAcW&sclient=gws-wiz-serp */
}

.sale, .discount, .percent {
    position: absolute;
    line-height: 1;
    text-align: center;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.promoSign {
    perspective: 200px;
}

.sale{
    left: 9%;
    top: 8px;
    letter-spacing: 20px;
    font-size: 18em;
    font-weight: 250;
    color: #f8d3b6;
    text-shadow: -10px 20px 5px #4f2121;
    transform: rotateX(5deg) rotateY(10deg) scaleX(1.5) skewX(-8deg);
    transform-origin: left bottom;
}

.discount {
    top: 30%;
    left: 41%;
    letter-spacing: 8px;
    font-size: 2em;
    color: #f8d3b6;
    text-shadow: -6px 5px 3px #4f2121;
    transform: rotateX(12deg) rotateY(-41deg) scaleX(1.5) skewX(-15deg);
    transform-origin: left bottom;
}

.percent > ul {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
}

.percent > ul > li {
    position: absolute;
    font-size: 5em;
    font-weight: bold;
    font-weight: 400;
    transform-origin: center;
    text-shadow: 2px 2px 2px #000000;
}

.per20 {
    top: 3.7em;
    left: 0.6em;
    color: #e5e3e3;
}

.per30 {
    top: 5.2em;
    left: 0.6em;
    color: #e5e3e3;
}

.per40 {
    top: 6.8em;
    left: 0.8em;
    color: #393636;
}

.per50 {
    top: 8.4em;
    left: 1.3em;
    color: #393636;
}

section {
    width: 100%;
    max-width: 1000px;
    margin: 2em auto;
    padding: 1em;
    background-color: #e1c16e;
    border-radius: 10px;
    box-shadow: 1px 1px 15px #383737;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

section > p {
    font-weight: 550;
}

section > .imgContainer {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
}

.imgContainer > img {
    margin: 1em;
    height: 250px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 10px #000000;
}

.goldenFind {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.workHard {
    font-size: 1.1em;
    margin-top: 1em;
}

.last {
    font-size: 1.3em;
    font-weight: bold;
    font-weight: 500;
    text-decoration: underline;
    color: #171717;
    text-shadow: 1px 1px 6px #302a2a;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    margin: 0.5em;
}

.toTop {
    margin-bottom: 1.5em;
}

.orderMain {
    text-align: center;
    max-width: 600px;
}

.notice {
    font-size: 1.1em;
    color: #802c23;
    margin-top: 2em;
}

h3 {
    margin-top: 2em;
}

.orderForm {
    background-color: #e1c16e;
    border-radius: 10px;
    box-shadow: 1px 1px 15px #383737;
    padding: 1em;
    margin: auto;
    width: 80%;
    font-size: 1.2em;
}

.orderForm label {
    display: flex;
    align-items: center;
    font-weight: bold;
    flex-direction: column;
}

.orderForm select, .orderForm input {
    align-items: center;
    flex-direction: column;
}

.orderSubmit {
    margin-bottom: 1em;
    padding: 0.5em 1em;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #ca4b3d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 6px #000000;
}