html{
    min-height: 100vh;
    padding: 80px 80px;
    display: flex;
    font-family: "Montserrat";
    align-items:center;
    justify-content: center;
    background-color: #101010;
}

.poster {                                       /* Poster background image and properties */
    position: relative;
    width: min(720px, 90vw);
    aspect-ratio: 2/3;
    background-image: url("images/inception.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    color: #fff;
    display: block;
    padding: 0;
}

.tagDream, .title, .subH, .cast, .cast-list, .starring, footer, .release, .inceptionMovie, nav {
    position: absolute;
    line-height: 1;
    text-align: center;
}

.tagDream {                                  /*  Header 2 tagline Dream */
    top: 5.5%;
    right: 25%;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 5px;
    color: #ffffff;
    margin: 10px;
}

.title {                                    /* Title */
    top: 76.5%;
    left: 10%;
    font-weight: bold;
    font-size: 6.2rem;
    font-weight: 700;
    color: rgb(254, 41, 41);
    text-align: center;
}

.subH {                                   /* Subheading director of dark knight */
    top: 80.1%;
    left: 8.5%;
    font-size: 1.2rem;
    letter-spacing: 3.4px;
    margin: 20px;
    font-weight: 650;
}

.cast-list {                            /* Cast list in section */
    font-size: 0.95rem;
    color: #ffffff;                 
}

.cast {                                 /* Child of cast-list */
    gap: 17.4px;
    margin-top: 40px; 
    display: flex;
    top: 815px;
    left: 80px;
}

.starring {                             /* Leondaro Dicaprio */
    top: 835px;
    left: 80px;
    font-size: 1em;
    font-weight: 800;
    letter-spacing: 1.59em;
    color: white;
    font-weight: 600;
    white-space: nowrap;
    text-shadow: 3px 3px 3px rgb(44, 37, 37); 
}

.member {                               /* Cast names */
    flex-direction: column;
    font-weight: bold;
    letter-spacing: 0;
    white-space: nowrap;
}

.firstName {
    color: rgb(254, 41, 41);
    font-size: 0.48em;  
}

.lastName {
    color: white;
    font-size: 0.7em;
}

.release {                              /* experience it july 16 */
    top: 89.5%;
    left: 14%;
    font-size: 1.1rem;
    color: #8a8282;
    font-weight: 500;
    letter-spacing: 1px;
}

.inceptionMovie {                       /* inception movie marker bottom */
    top: 93%;
    left: 24.2%;  
    font-size: 0.7em;
    color: #6b6262;
    font-weight: 500;
    letter-spacing: 1px;
}

nav {                                   /* Nav section */
    top: 1100px;
    left: 20px;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    background-color: white;
    border: 5px solid black;
}

nav li {
    display: inline-block;
    position: relative;
}

nav ul li ul li, nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0.25em;
}

/* nav li ul {

} */