body {
    background-image: url("images/inception.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}

body{
    background-color:rgb(0, 0, 78)
}