html{
    min-height: 100vh;
    padding: 80px 80px;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #000;
}

.poster {                                       /* Poster background image and properties */
    position: relative;
    width: min(720px, 90vw);
    aspect-ratio: 2/3;
    background-image: url("images/inception.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    padding: 0;
}

.tagDream, .title, .subH, .cast, .release, footer {
    position: absolute;
    line-height: 1;
    text-align: center;
}

.tagDream {                                           /*  Header  */
    top: 5.2%;
    right: 25%;
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 5px;
    color: #ffffff;
    margin: 10px;
}

.title {                                             /* Title */
    top: 77%;
    left: 10%;
    font-family: sans-serif;
    font-size: 6.2rem;
    font-weight: 700;
    letter-spacing: 6px;
    color: #e50914;
    text-align: center;
}

.subH {                                             /* Subheading */
    top: 80%;
    left: 15%;
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin: 20px;
}

.cast {                                             /* Paragraph in main consisting of cast */
    top: 75%;
    font-size: 1rem;
    margin: 30px 0;
    letter-spacing: 2.5px;    
    line-height: 1.5;                           
}



.release {
    top: 90%;
    left: 20%;
    font-size: 1.1rem;
    color: #8a8282;
    font-weight: 500;
    letter-spacing: 1px;
}

footer{
    top: 93%;
    left: 15%;
    font-size: 1.1rem;
    color: #6b6262;
    font-weight: 500;
    letter-spacing: 1px;
}
