body {
    background-image: 
    linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,1) 100%),
    url("images/inception.png");

    background-position: center;
    background-repeat: no-repeat; 
    height: 100rem;
    background-size: 50%;
    background-color: #000;
}