html{
    min-height: 100vh;
    padding: 80px 80px;
    display: flex;
    font-family: "Montserrat";
    align-items:center;
    justify-content: center;
    background-color: #101010;
}

.backingImg{            /* background sit inside another https://www.google.com/search?q=html+make+a+background+image+sit+in+a+background+image&sca_esv=3c659fc7041cb947&sxsrf=AE3TifPN6kV6XY74DmH5keYh8SduWANyXA%3A1763842243328&ei=wxgiaezvE9TdptQPk-2E8Qo&oq=html+make+a+background+image+sit+in+a+b&gs_lp=Egxnd3Mtd2l6LXNlcnAiJ2h0bWwgbWFrZSBhIGJhY2tncm91bmQgaW1hZ2Ugc2l0IGluIGEgYioCCAAyBRAhGKABMgUQIRigATIFECEYoAEyBRAhGKABMgQQIRgVSPd_UMVZWOx3cAJ4AZABAJgBdKAB8RSqAQQzMC4zuAEDyAEA-AEBmAIOoAKeCMICChAAGEcY1gQYsAPCAgQQIxgnwgIIEAAYiQUYogTCAggQABiABBiiBMICBhAAGBYYHsICCxAAGIAEGIoFGIYDwgIFECEYnwWYAwCIBgGQBgiSBwQxMi4yoAfJlgGyBwQxMC4yuAeWCMIHBjIuMTEuMcgHFw&sclient=gws-wiz-serp */
    display: flex;
    width: calc(min(720px, 90vw) + 142px);
    aspect-ratio: 2/3;
    background-image: url("images/Extendallfourside.png");
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center; 
         mask-image: 
    linear-gradient(to right, black 90%, transparent), 
    linear-gradient(to left, black 90%, transparent),  
    linear-gradient(to bottom, black 90%, transparent),
    linear-gradient(to top, black 90%, transparent);   
    mask-composite: intersect; 
}

.poster {                                       /* Poster background image and properties */
    position: relative;
    width: min(720px, 90vw);
    aspect-ratio: 2/3;
    background-image: url("images/inception.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    color: #fff;
    display: block;
    padding: 0;
}

.tagDream, .title, .subH, .cast, .cast-list, .starring, footer, .release, .imax, nav {
    position: absolute;
    line-height: 1;
    text-align: center;
}

aside{
    position: relative;
}

aside img, aside p {
    position: absolute;
}

.pg13 {
    top: 950px;
    left: 60px;
    width: 120px;
}

.legendary {
    top: 965px;
    left: 385px;
    width: 130px;
}

.syncopy {
    top: 970px;
    left: 570px;
    width: 80px;
}

.inceptionMovie {                       /* inception movie marker bottom */
    top: 995px;
    left: 32.5%;  
    font-size: 0.7em;
    color: #726969;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
}

.tagDream {                                  /*  Header 2 tagline Dream */
    top: 5.5%;
    right: 25%;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 5px;
    color: #ffffff;
    margin: 10px;
}

.title {                                    /* Title */
    top: 76.5%;
    left: 10%;
    font-weight: bold;
    font-size: 6.2rem;
    font-weight: 700;
    color: rgb(254, 41, 41);
    text-align: center;
}

.subH {                                   /* Subheading director of dark knight */
    top: 80.1%;
    left: 8.4%;
    font-size: 1.21rem;
    letter-spacing: 3.4px;
    margin: 20px;
    font-weight: 650;
}

.cast-list {                            /* Cast list in section */
    font-size: 0.95rem;
    color: #ffffff;                 
}

.cast {                                 /* Child of cast-list */
    gap: 17px;
    margin-top: 40px; 
    display: flex;
    top: 800px;
    left: 80px;
}

.starring {                             /* Leondaro Dicaprio */
    top: 820px;
    left: 80px;
    font-size: 1em;
    font-weight: 800;
    letter-spacing: 1.59em;
    color: white;
    font-weight: 600;
    white-space: nowrap;
    text-shadow: 3px 3px 3px rgb(44, 37, 37); 
}

.and {
    font-size: 0.3em;
    letter-spacing: 0em;
    margin-top: 7px;
    margin-left: -10px;
    margin-right: -15px;
}

.member {                               /* Cast names */
    flex-direction: column;
    font-weight: bold;
    letter-spacing: 0;
    white-space: nowrap;
}

.firstName {
    color: rgb(254, 41, 41);
    font-size: 0.48em;  
}

.lastName {
    color: white;
    font-size: 0.7em;
}

.release {                              /* experience it july 16 */
    top: 89.5%;
    left: 13.4%;
    font-size: 1.1rem;
    color: #8a8282;
    font-weight: 500;
    letter-spacing: 0.6px;
}

.imax {
    top: 93.2%;
    left: 75.5%;
    font-size: 3px;
}

nav {                                   /* Nav section */
    left: 260px;
    box-sizing: inherit;
}

nav ul {
    list-style-type: none;
    padding: 0;
    white-space: nowrap;
    height: 25px;
    background-color: white;
    border: 5px solid black;
}

nav li {
    display: inline-block;
    position: relative;
}

nav li ul {
    position: absolute;
    left: -9999px;
}

nav li li {
    display: block;
}

nav li a {
    display: block;
}

nav li:focus-within ul {
    left: auto;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0.25em;
}

nav a:link {
    background-color: white;
}

nav a:visited {
    color: rgb(160, 160, 160);
}

nav a:hover {
    background-color: rgb(255, 42, 42);
    border: 2px solid black;
    color: white;
}

/* nav li ul {

} */