html{
    min-height: 100vh;
    padding: 80px 80px;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #000;
}

.poster {                                       /* Poster background image and properties */
    position: relative;
    width: min(720px, 90vw);
    aspect-ratio: 2/3;
    background-image: url("images/inception.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    padding: 0;
}

.tagDream, .title, .subH, .cast, .cast-list, .starring, footer, .release, .inceptionMovie, nav {
    position: absolute;
    line-height: 1;
    text-align: center;
}

.tagDream {                                  /*  Header  */
    top: 5.2%;
    right: 25%;
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 5px;
    color: #ffffff;
    margin: 10px;
}

.title {                                    /* Title */
    top: 76.5%;
    left: 10%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 6.2rem;
    font-weight: 700;
    letter-spacing: 6px;
    color: #e50914;
    text-align: center;
}

.subH {                                   /* Subheading */
    top: 79.6%;
    left: 15%;
    font-size: 1.2rem;
    letter-spacing: 2.5px;
    margin: 20px;
    font-weight: 700;
}

.cast-list {                            /* Cast list in section */
    font-size: 1rem;
    color: #ffffff;                 
}

.cast {                                 /* Child of cast-list */
    gap: 15px;
    margin-top: 40px; 
    display: flex;
    top: 812px;
    left: 50px;
}

.starring {                             /* Leondaro Dicaprio */
    top: 830px;
    left: 75px;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1.6em;
    color: white;
    font-weight: 600;
    white-space: nowrap;
}

.member {                               /* Cast names */
    flex-direction: column;
    font-weight: bold;
    letter-spacing: 0.5px;
    white-space: nowrap;
}

.firstName {
    color: red;
    font-size: 0.5em;  
}

.lastName {
    color: white;
    font-size: 0.8em;
}

.release {
    top: 89%;
    left: 20%;
    font-size: 1.1rem;
    color: #8a8282;
    font-weight: 500;
    letter-spacing: 1px;
}

.inceptionMovie {
    top: 92%;
    left: 15%;
    font-size: 1.1rem;
    color: #6b6262;
    font-weight: 500;
    letter-spacing: 1px;
}

nav {
    top: 1100px;
    left: 50px;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    background-color: white;
    border: 5px solid black;
}

nav li {
    display: inline-block;
    position: relative;
}

nav ul li ul li, nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0.25em;
}

/* nav li ul {

} */