* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fef3e7;
}

h1 {
    text-align: center;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5c1a0a;
    padding: 1rem 2rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.links{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.links a {
    text-decoration: none;
    color: #fffaf0;
    font-weight: 600;
    transition: color 0.3s ease;
}

.links a:hover {
    color: #ffcc99;
}

.banner {
    background: linear-gradient(to bottom, #f57c00, #fbc02d)
}

/* information on how to "split screen" a section learned from google https://www.google.com/search?q=how+to+split+a+part+of+a+website+into+two+sections&oq=how+to+split+a+part+of+a+website+into+two+sections&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIHCAEQIRigAdIBCTEyMjc5ajBqN6gCALACAA&sourceid=chrome&ie=UTF-8 */

.split-section{
    display: flex;
    width: 100%;
    margin-top: 1rem;
    height: 100%;
}

.left-column {
    width: 50%;
    text-align: center;
}

.right-column {
    width: 50%;
    text-align: center;
}

.right-column fieldset { 
    margin-top: 0.68rem;
}

.right-column ul {
    list-style: none;
    display: inline-block;
}