* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fef3e7;
}

h1 {
    text-align: center;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5c1a0a;
    padding: 1rem 2rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.links{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.links a {
    text-decoration: none;
    color: #fffaf0;
    font-weight: 600;
    transition: color 0.3s ease;
}

.links a:hover {
    color: #ffcc99;
}


.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, #f57c00, #fbc02d);
    padding: 4rem 2rem;
}

.banner-logo { /*left side*/
    width: 100%;
    height: auto;
}

.logo-image {
    width: 100%;
    height: auto;
}

.banner-text { /*right side*/
    flex: 1;
    padding-left: 2rem;
}

.banner-text h1 {
    font-size: 3rem;
    color: #5c1a0a;
    margin-bottom: 1rem;
}

.banner-text p {
    font-size: 1.25rem;
    color: #000000;
    margin-bottom: 2rem;
}

.banner-order {
    background: linear-gradient(to bottom, #f57c00, #fbc02d);
    padding: 32px 32px;
    text-align: left;
    position: relative;
}

.order-button {
    background-color: #965811;
    color: #fffaf0;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* information on how to "split screen" a section learned from google https://www.google.com/search?q=how+to+split+a+part+of+a+website+into+two+sections&oq=how+to+split+a+part+of+a+website+into+two+sections&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIHCAEQIRigAdIBCTEyMjc5ajBqN6gCALACAA&sourceid=chrome&ie=UTF-8 */

.split-section{
    display: flex;
    width: 100%;
    margin-top: 1rem;
}

.left-column {
    width: 50%;
    text-align: center;
}

.right-column {
    width: 50%;
    text-align: center;
}

.right-column fieldset { 
    margin-top: 0.68rem;
}

.right-column ul {
    list-style: none;
    display: inline-block;
}

.right-column fieldset.toppings {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}